.Rprofile
.Rproj.user
.Rhistory
.RData
.Ruserdata
build/
build-lectures/
*.Rproj
.DS_Store
pracs-book/_book/
pracs-book/_main_files/
pracs-book/SPE-R-2024-practicals/
pracs-book/SPE-R-2024-practicals_files/
pracs-book/SPE-R-2024-practicals-with-solutions/
pracs-book/SPE-R-2024-practicals-with-solutions_files/